/*   FOOTER   */

footer {
    background-image: url(../IMG/fondoHeaderFooter.png);
    background-repeat: repeat;
    margin-top: 50px;
    height: 80px;
    width: 100%;
}
.contenedorFooter{
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: ghostwhite;
    font-size: 18px;
    margin: auto;
    text-align: center;
}

.iconosredes{
    display: flex;
    justify-content: center;
    background-image: url(../IMG/fondoHeaderFooter.png);
    background-repeat: repeat;
    padding: 0px;
}

.iconosredes img{
    margin: 15px;
    border-radius: 20px;
    box-shadow: 0 1px 6px goldenrod;
}

#id_redessociales {
    width: 6%;
    background-color: rgba(255, 255, 255, 0.3);
}

/* Animación footer iconos redes */

.iconosredes{
    img{
        &:hover{
            animation: icono .5s ease;
        }
    }
}

@keyframes icono{
    from{
    transform: rotate3d(0,0,0,0);
    }
    to{
    transform: rotate3d(0,1,0,360deg);
    }
}