
/* MAIN ANUNCIOS PROPIEDADES */


.anuncio {
    border: 2px solid $colorTitulos;
    height: 650px;
    width: 370px;
    margin-top: 20px;
}

.texto{
    p {
        margin-top: 10px;
        font-size: 18px;
        padding: 7px;
        text-align: justify;
    }
}

.precio {
    font-weight: bold;
    margin: 5px;
}

#id_img {
    height: auto;
    max-height: 200px;
    width: 95%;
}

/* --- ICONOS REDES SOCIALES Y UBICACIÓN --- */

#id_icono {
    height: 40px;
    margin-top: 10px;
}

#id_redes {
    height: 35px;
}

#id_redessociales {
    width: 6%;
}
