/* --------- Media Query para Desk --------- */

@media screen and (min-width: 1024px){

    .formulario {
    margin: auto;
    width: 55%;
    padding: 10px;
    }
}



@media screen and (max-width: 767px){
    .nosotrosDescripcion{
        p {
            margin-top: 20px;
        }
}

}