
/* SECCION NOSOTROS */

.sobreNosotros{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: auto;
}

.nosotrosImagen{
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: auto;
        width:100%;
}
}

.nosotrosDescripcion{
    p {
        color: $colorTitulos;
        font-size: 16px;
        display: inline-block;
        line-height: 30px;
        text-align: justify;
        }
}
.nivelLectura{
    font-weight: bold;
    color: $colorBotonVenta;
    opacity: 0.8;
}