/* SECCION UBICACION  */

.contenedorCentradoUbicacion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.datosUbicacion {
    color: $colorTitulos;
    font-size: 19px;
    line-height: 25px;
    width: 350px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.informacion{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: baseline;
}

/* Iconos de Contacto */

#id_redes {
    margin-right: 20px;
}

.mapa{
    height: 300px;
}